.footer {
  margin-top: 10vh;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: $colorPrimario;
}
.footer a {
  color: $colorTerciario;
}
.footer__info {
  font-weight: bold;
}
